@tailwind base;
@tailwind components;
@tailwind utilities;

.search {
    background: url('./bg.png');
    background-size: cover;
    i {
        position: absolute;
        top: 50%;
        right: 1.5rem;
        transform: translateY(-50%);
    }
}